.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  display: flex;

  width: 450ch;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: solid black;
  font-size: 50px;
}
